<!--COVER-->
<div class="flex main-info justify-between">
  <div class="flex-columns">
    <h2 class="my-1">Hello, I'm</h2>
    <h1 class="my-1">Jonathan Santana 👏</h1>
    <span class="icon"></span>
    <h2 class="color-1">{{ changeSkill() }}</h2>

    <div>
      <button class="btn-fist">Download CV</button>
      <button class="btn-second">Contact me</button>
    </div>
  </div>

  <div class="relative flex">
      <img src="assets/images/blob.svg" class="img-background" alt="Person Image">
      <img src="assets/images/personPc.webp" class="img-frontground" alt="Person Image">
  </div>
</div>

<div class="flex-row icon-link">
  <icon-link url="https://www.linkedin.com/in/jonathan-aneuri-santana-bautista-24981214a" target="_blank" iconUrl="assets/images/linkedin.webp" alt="Linkedin" [width]="30" [height]="30"/>
  <icon-link url="https://github.com/Crawford098" iconUrl="assets/images/github.webp" target="_blank" [width]="30" [height]="30"/>
</div>
