<nav class="flex flex-row pt-2">
    <div class="flex flex-row justify-between w-full max-h-70">
    <div class="flex items-center relative">
        <!-- <img src="assets/images/download.png" alt=".." width="100" height="100"/> -->
        <h1 class="animation-fade"><span class="nav-title px-1">Jonathan</span><span class="nav-title color-1">Santana</span></h1>
    </div>
    <div class="flex flex-row">
        <ul class="flex-row no-li-style">
            <ng-content></ng-content>
        </ul>
    </div>
    </div>
</nav>
