
.nav-title {
    font-size: 30px;
}

.nav-items {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    height: min-content;
}
.nav-items a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.nav-items a:hover {
    color: #FF204E;
    font-size: 20px;
}

.nav-items a.active {
    color: #FF204E;
}

.max-h-70 {
    max-height: 70px;
}

.animation-fade {
    animation-name: into-left;
    animation-duration: 2s;
    position: absolute;
    left: 0px;
}

@keyframes into-left {
    0% {
        opacity: 0;
        left: -60px;
    }

    50% {
        opacity: 0.5;
        left: -25.5px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}