<footer class="app-footer bg-color-4">
  <div class="flex flex-row">
    
    <icon-link class="color-f"
      url="https://www.linkedin.com/in/jonathan-aneuri-santana-bautista-24981214a"
      target="_blank"
      iconUrl="assets/images/linkedin-white.webp"
      alt="Linkedin"
      [width]="30"
      [height]="30"
    >hola</icon-link>

    <icon-link class="color-f"
      url="https://www.linkedin.com/in/jonathan-aneuri-santana-bautista-24981214a"
      target="_blank"
      iconUrl="assets/images/at.webp"
      alt="Linkedin"
      [width]="30"
      [height]="30"
    />
  </div>
</footer>
