<div class="main-container">
  <navBar>
    <nav-item class="nav-items">
      <a routerLinkActive="active" routerLink="/"> Home </a>
    </nav-item>
  
    <nav-item class="nav-items">
      <a routerLinkActive="" routerLink="/proyects">
        Proyects
      </a>
    </nav-item>
  
    <nav-item class="nav-items">
      <a routerLinkActive="" routerLink="/skils">
        Skills
      </a>
    </nav-item>
  
    <nav-item class="nav-items">
      <a routerLinkActive="" routerLink="/services">
        Services
      </a>
    </nav-item>
  
    <nav-item class="nav-items">
      <a href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d">
        Color palette
      </a>
    </nav-item>
  </navBar>
  <router-outlet></router-outlet>
</div>