<div class="main-container">
  <navBar>
    <nav-item class="nav-items">
      <a class="active" href="https://www.google.com/"> Home </a>
    </nav-item>

    <nav-item class="nav-items">
      <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d"> Proyects </a>
    </nav-item>

    <nav-item class="nav-items">
      <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d"> Skills </a>
    </nav-item>

    <nav-item class="nav-items">
      <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d"> Prices </a>
    </nav-item>

    <nav-item class="nav-items">
      <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d"> Contact </a>
    </nav-item>
  </navBar>
  <app-cover></app-cover>
  
</div>