<navBar>
  <nav-item class="nav-items">
    <a class="active" href="https://www.google.com/"> Home </a>
  </nav-item>

  <nav-item class="nav-items">
    <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d">
      Proyects
    </a>
  </nav-item>

  <nav-item class="nav-items">
    <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d">
      Skills
    </a>
  </nav-item>

  <nav-item class="nav-items">
    <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d">
      Prices
    </a>
  </nav-item>

  <nav-item class="nav-items">
    <a class="" href="https://colorhunt.co/palette/ff204ea0153e5d0e4100224d">
      Contact
    </a>
  </nav-item>
</navBar>
<app-cover></app-cover>

<div class="pt-3 text-center">
  <div>
    <h1 class="pt-3">Packages Prices</h1>
  </div>

  <div class="flex justify-center">
    <table>
      <thead>
        <tr>
          <th>Features</th>
          <!-- Encabezado para las características -->
          <th *ngFor="let package of wordPressPackage">{{ package.name }}</th>
          <!-- Nombres de los paquetes -->
        </tr>
      </thead>
      <tbody>
        <!-- Recorrer cada característica -->
        <tr *ngFor="let key of columnKeys">
          <td class="text-start">
            {{ wordPressPackage[0].columns[key].name }}
          </td>
          <!-- Nombre de la característica -->

          <!-- Para cada paquete, mostrar si esa característica es válida -->
          <td class="text-center" *ngFor="let package of wordPressPackage">
            {{ package.columns[key].valid ? "✅" : "-" }}
            <!-- Mostrar si la característica es válida o no -->
          </td>
        </tr>

        <tr>
          <td>Total</td>
          <td *ngFor="let package of wordPressPackage">${{ package.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
  <br />
</div>
